body {
    height: 100vh
}
#viewDiv {
    padding: 0;
    margin: 0;
    height: 93vh;
    width: 100%;
}
#gifDiv {
    height: 25%;
}

nav {
    /* height: ; */
    background: 
    linear-gradient(
       #ff5858, #f85787
      );
}

.btn {
    font-size: 12.5px;
    margin: 0;
}

#btn-space li {
    margin: 0;
}

.esri-search__container {
    height: 40px;
    /* background-color: rgb(0, 162, 255); */
    
}

#container {
    margin-top: 50px;
    background: #f85787
}

/* #results {
    content: '';
    width: 200px;
    height:200px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
} */