
#viewDiv {
    padding: 0;
    margin: 0;
    height: 91vh;
    width: 100%;
}
#gifDiv {
    height: 25%;
}

nav {
    height: 8vh;
    margin: 0;
}

.esri-search__container {
    height: 40px;
    /* background-color: rgb(0, 162, 255); */
}

#container {
    margin-top: 50px;
}