html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 92vh;
    width: 100%;
}
#gifDiv {
    height: 25%;
}

nav {
    height: 8vh;
}

.esri-search__container {
    height: 40px;
    background-color: rgb(0, 162, 255);
}

#container {
    margin-top: 50px;
}